config.h.in~
.gitignore~
.DS_Store
.deps
.directory
.tox
.idea
.cache
.*.sw[op]
__pycache__
*.egg
*.egg-info
Makefile.in
Makefile
build*
config.optim
make.log
mpif.h
tags
tmp
auto-*.m4
tmp-*
tmp_*
*.fdb_latexmk
*.synctex.gz
*.fls
*.la
*.lo
*.mod
*.orig
*.rej
*.tmp
*.pyc
*.[ao]
*.stderr
*.stdout
/aclocal.m4
/autom4te.cache
/build
/_build*
/configure
/config.dump
/config.dump.in
/config.h
/config.h.in
/config.log
/config.mk
/config.pc
/config.sh
/config.status
/dump_fb_version.py
/config/dist/*.lst
/config/gnu/
/config/local/*
/config/m4/libtool.m4
/config/m4/lt*.m4
/src/*~
src/tags
!.gitkeep
src/*/*log
makefile.sed
doxygen_docs
doxygen.err
